# Existing envs...\n\n# Blockchain\nBLOCKCHAIN_MNEMONIC=\"your 12 word mnemonic\"\nBLOCKCHAIN_LOCAL_RPC=\"http://127.0.0.1:8545\"\nBLOCKCHAIN_ETH_RPC=\"https://eth-mainnet.alchemyapi.io/...\"\nBLOCKCHAIN_POLYGON_RPC=\"https://polygon-rpc.com\"\nSETTLEMENT_CONTRACT=\"0xYourDeployedAddress\"\nTOKEN_CONTRACT=\"0xYourERC20\"\n
